<!--ALEJANDRO GARCIA-->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="background-color: #f1e8b26a;">



    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a style="text-decoration:none" class="logo d-flex align-items-center">
              <img src="assets/img/logo.png" alt="">
              <span>Travel Inc</span>
            </a>
            <p>Una agencia de hoteles donde encontrarás todos los hoteles al mejor precio y al menor tiempo posible.</p>
            <div class="social-links mt-3">
              <a  class="twitter"><i class="bi bi-twitter"></i></a>
              <a  class="facebook"><i class="bi bi-facebook"></i></a>
              <a  class="instagram"><i class="bi bi-instagram"></i></a>
              <a  class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Integrantes</h4>
            <ul>
              <li><a >Gabriel Melgar</a></li>
              <li><a >Alejandro Garcia</a></li>
              <li><a >Diego Patzan</a></li>

            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Nuestros servicios</h4>
            <ul>
              <li><a >Seguridad</a></li>
              <li><a >Ayuda</a></li>
              <li><a >Confianza</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contactanos</h4>
            <p>
              Colonia Landivar <br>
              Cuidad De Guatemala, zona 7<br>
              Guatemala <br><br>
              <strong>Telefono:</strong> +502 43314235<br>
              <strong>Email:</strong> grupo6@gmail.com
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Travel Inc</span></strong>. Todos los derechos reservados
      </div>
    </div>
  </footer><!-- End Footer -->