<!--ALEJANDRO GARCIA-->
<!-- ======= Header ======= -->\

<header  id="header" class="fixed-top d-flex align-items-center navbar navbar-dark bg-dark " >
  
  <div class=" collapse navbar-collapse container d-flex justify-content-between align-items-center" >

    <div class="logo row ">

      <div class="col-6">
      <h1  class="text-light"><a ><span id="navTitle"><i class="bi bi-filter-left" style="font-size:2rem"></i> TRAVEL INC</span></a></h1>

      </div>
    </div>

    <nav id="navbar " class="navbar ">
      <ul id="navbar">
        <li class="nav-item"><a class="active " style="text-decoration: none;">Hoteles</a></li>
        <li class="nav-item"><a ></a></li>

        <li class="nav-item"><a (click)="logOut()" routerLink="/inicio" style="text-decoration: none;">  Inicio</a></li>
        <li class="nav-item" *ngIf="_usuarioService.obtenerIdentidad().rol != 'ROL_ADMINISTRADOR'"><a ></a></li>
        <li class="nav-item" *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_CLIENTE'"><a routerLink="/productos-empresas" style="text-decoration: none;">  Detalles de cuenta</a></li>
        <li class="nav-item" *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'"><a ></a></li>

        <li class="nav-item" *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'"><a routerLink="/admin/gestion-usuarios" style="text-decoration: none;">  Gestion de Usuarios</a></li>

        <li class="nav-item"><a [routerLink]="['/admin/detalles-reservaciones/', identidad._id]"  *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR_HOTEL'" style="text-decoration: none;">  Detalles de reservaciones</a></li>


            <div class="dropdown nav-item mx-5" style="position: relative; z-index: 3" >
              <button  style="color: whitesmoke;" class="btn dropdown-toggle dd2" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ _usuarioService.obtenerIdentidad().nombre }}
                <i class="bi bi-person-badge"></i>
              </button>
              <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
    
                <div class="justify justify-content-center align-items-center" style="background-color: #222830!important ">
                  <img src="assets/images/iconoUsuario.png" style="width: 120px;height: 120px">
  
                </div>
    
                <a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR_HOTEL'" class="dropdown-item"  [routerLink]="['/admin/editarPerfil/', identidad._id]" style="color: #222830;text-align: center !important;">
                  {{ _usuarioService.obtenerIdentidad().nombre }}
                  {{ _usuarioService.obtenerIdentidad().apellido }}
                </a>
                
                <a *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'"  class="dropdown-item"  style="color: #222830;text-align: center !important;">
                  {{ _usuarioService.obtenerIdentidad().nombre }}
                </a>
    
                <div>
                  <hr class="dropdown-divider">
                </div>
    
                <div class="dropdown-item" style="background-color: #E74C3C">
                  <a routerLink="/inicio" (click)="logOut()" routerLinkActive="active" class="dropdown-item"
                    style="background-color: #E74C3C">↤ SALIR</a>
                </div>
              </div>
            </div>
  
  
    
      </ul>
    </nav>

  </div>
</header>




<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-centent-center align-items-center" style="background-color: #1e232b">

  <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="carousel-container">
        <h2  class="animate__animated animate__fadeInDown titleCar">Control  e  información  detallada</h2>
        <p    class="animate__animated animate__fadeInUp paragraph">Detalles específicos de cada hotel, así como de los eventos organizados y la disponibilidad para adminitrar los servicios</p>
        <!--<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>-->
      </div>
    </div>

  <!-- Slide 3 -->
  <div class="carousel-item">
    <div class="carousel-container">
      <h2  style="color: #fff"  class="animate__animated animate__fadeInDown titleCar">Adminitración y reservaciones</h2>
      <p   class="animate__animated animate__fadeInUp paragraph">Control según las prioridades y preferencias del cliente para brindar la mejor experiencia en cada servicio.</p>
      <!--<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>-->
    </div>
  </div>

    <!-- Slide 2 -->
    <div class="carousel-item ">
      <div class="carousel-container">
        <h1 style="color: #fff" class="animate__animated animate__fadeInDown titleCar" >Gestión de <span>Hoteles</span></h1>
        <p  class="animate__animated animate__fadeInUp paragraph">El objetivo principal con la administración de hoteles es brindar a los clientes la posibilidad de ofrecer un servicio de alta calidad, conservando las instalaciones impecables y de este modo garantizar una experiencia agradable.</p>
        <!--<a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>-->
      </div>
    </div>

  

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</section><!-- End Hero -->

<section class="dark" style="margin-top:-5rem;margin-bottom: -1rem;padding-bottom: -10rem;">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">HOTELES EN EL PAÍS</h1>


    <div class="row">
      <div class="col-8">
      </div>
      <div class="col-4">
        <div class="input-group">
          <input   [(ngModel)]="search" type="text" class="form-control" placeholder="Busqueda de hotel" aria-label="Text input with segmented dropdown button">
          <button style="color: white;border-color: gray;" type="button" class="btn "><i class="bi bi-search"></i> Buscar</button>
    
        </div> 
      </div>
  
      </div>
      
    <div class="row" >
      <div class="col-3 col-sm-3">
       <a id="botomOptionsAdd" class="btn btn-light btn-block text-black" data-bs-toggle="modal" data-bs-target="#addModal" *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'">
         <h6>
           <i  class="bi bi-plus-circle-dotted"></i> Agregar Hoteles
         </h6>
       </a>
     </div>
 
    </div><br>

    <article   *ngFor="let hotel of hotelesModelGet| search: search;let i = index" class="postcard dark" [ngClass]="coloresDinamicos[i]">
			<a class="postcard__img_link"  >
				<img class="postcard__img" src="/assets/images/iconCard1.jpg" alt="Image Title" />
			</a>

			<div class="postcard__text">
				<h1 style="padding-left: 0.2rem;" class="postcard__title red"><a  > {{hotel.nombreHotel}}</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2022-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i> 2022 
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
          <i class="bi bi-building"></i> Dirección:  {{hotel.direccion}}  <br><br>
          <i class="bi bi-telephone"></i>  Teléfono: {{hotel.telefono}}<br><br>
          <i class="bi bi-journal-check"></i> Descripción: {{hotel.descripcion}}<br><br>

          <div *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR_HOTEL'">
              <i class="bi bi-person-circle"></i>  Encargado: {{_usuarioService.obtenerIdentidad().nombre}} {{_usuarioService.obtenerIdentidad().apellido}}<br><br>

          </div>

        </div>
        <ul class="postcard__tagbox">
          <ul class="postcard__tagbox">

            <li class="tag__item play orange" *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'">
              <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn text-light" (click)="getHotelesId(hotel._id)"><i class="bi bi-pencil-square"></i> Editar</button>
            </li>

            <li class="tag__item play red"*ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'">
              <button type="button" class="btn text-light" (click)="deleteHoteles(hotel._id)"><i
                  class="bi bi-trash3"></i> Eliminar</button>
            </li>

            <li class="tag__item play blue "   >
              <button type="button" [routerLink]="['/admin/informacion-hotel/', hotel._id]" routerLinkActive="active" class="btn text-light">
                <i class="bi bi-clipboard2-data"></i> Más información</button>
            </li>
          </ul>
          
				</ul>
			</div>
		</article>

	</div>

</section> 

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
          <div class="container" data-aos="zoom-in">
    
            <div class="row">
              <div class="col-lg-8 text-center text-lg-start">
                <!-- ======= #ebd65e ======= -->
                <h3 style="color: #ff963f">Gestión de hoteles</h3>
                <p> La aplicación web propone un software completo y satisfactorio orientado al soporte, manejo y administración de hoteles, jusnto decon sus servicios específicos. 
                </p>
              </div>
              <div class="col-lg-3 cta-btn-container text-center">
                <a  id="ddAdmin" class="cta-btn align-middle" style="text-decoration: none;">ADMINISTRACIÓN</a>
              </div>
            </div>
    
          </div>
        </section><!-- End Cta Section -->

    <!-- ======= About Section ======= -->
    <!--<section id="about" class="">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color: rgb(236, 152, 26) !important;z-index: 2;">Hotel San Cristobal</h2>
            <p>Sed nam ut dolor qui repellendus iusto odit. Possimus inventore eveniet accusamus error amet eius aut
              accusantium et. Non odit consequatur repudiandae sequi ea odio molestiae. Enim possimus sunt inventore in
              est ut optio sequi unde.</p>
          </div>
          <div class="col-lg-3">
            <h3 style="color: rgb(246, 224, 58)">Dirección</h3>
            <p>Boulevard San Cristobal 3ra Calle 14-16 Plaza Heliosx|, Guatemala</p>
          </div>
          <div class="col-lg-3">
            <h3 style="color: rgb(246, 224, 58)">Teléfono</h3>
            <p>(502) 2328-0067<br></p>
          </div>
        </div>
      </div>
    </section>-->


  <section id="contact" class="contact justify-content-center alight-item center" style="background-color: #1e232b;padding-top:2rem;margin-bottom: 1.6rem" >
    <div class="container">
  
      <div class="section-title">
        <h2 style="color: #fff;" >Ubicación Ciudad de Guatemala</h2>
        <p style="color: #fff;" >Visualización del mapa para la ubicación de los hoteles y así tener una mejor orientación...</p>
      </div>
    </div>
  
    <div style="background-image: linear-gradient(to bottom, #F39C12  , #CF6714);height: 2vh;"></div>
  
    <div  style="background-color:#CF6714;">
      <div class="mapouter col-12"><div class="gmap_canvas">
        <iframe width="100%" height="406" id="gmap_canvas" src="https://maps.google.com/maps?q=Ciudad%20de%20Guatemala%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br><style>.mapouter{position:relative;text-align:right;height:406px;width:100%;}</style><a href="https://www.embedgooglemap.net">google map plugin html</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:406px;width:100%;}</style></div>
      </div>
    </div>
  
    <div style="  background-image: linear-gradient(to top, #F39C12  , #CF6714);height: 2vh;"></div>
  
    <hr>
  
  </section>

  <!-- ======= Why Us Section ======= -->
  <section  *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'" class="why-us section-bg" data-aos="fade-up" date-aos-delay="200" id="fondo" style="margin-bottom: 1.6rem;">
    <div class=" container justify-content-center align-items-center">
        <div class="row">
          <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center p-2" s>

            <div class="col-xl-12">
              <div class="card mb-4">
                <div class="card-header" style="background-color: #e07c2a;">
                  <i class="bi bi-file-earmark-text-fill"></i>
                          Estádistica de hoteles
                </div>
  
  
                <div class="card" style="width: 100%;">
                  <div class="card-body justify-content-center alight-items-center">
                    <div style="display: block;">
                      <div style="display: block;">
                        <div style="display: block;">
                          <canvas baseChart chartType="pie" [data]="chartData" [colors]="chartColors"
                            [labels]="chartLabels" [options]="chartOptions" [plugins]="chartPlugins"
                            [legend]="chartLegend">
                          </canvas>
                        </div>
  
                      </div>
  
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

  </section><!-- End Why Us Section -->

    <!-- Modal Add-->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="background-color: #E5E7E9">
          <div class="modal-header" style="background-color: #040b14;">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white"> <i class="bi bi-sliders2"></i> Agregar
              datos del Hotel</h5>
              <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="modal"  aria-label="Close"></button>
            </div>

          <form #agregarHotel="ngForm" method="POST" 
            class="was-validated">
            <div class="modal-body">

              <div class="form-group">
                <label for="nombreEmpresa"> Nombre del Hotel </label>
                <input type="text" class="form-control" id="inputnombreSucursal" name="nombreHotel"
                  #nombreHotel="ngModel" [(ngModel)]="hotelesModelPost.nombreHotel" required>
              </div>

              <div class="form-group">
                <label for="direccion"> Direccion hotel </label>

                <select id="direccion" style="width:100%; height: 2rem;" name="direccion" #direccion="ngModel"
                [(ngModel)]="hotelesModelPost.direccion" required>
                <option value="Amatitlán">Amatitlán</option>
                <option value="Chinautla">Chinautla</option>
                <option value="Chuarrancho">Chuarrancho</option>
                <option value="Ciudad de Guatemala">Ciudad de Guatemala</option>
                <option value="Fraijanes">Fraijanes</option>
                <option value="	Mixco">	Mixco</option>
                <option value="Palencia">Palencia</option>
                <option value="San José del Golfo">San José del Golfo</option>
                <option value="San José Pinula">San José Pinula</option>
                <option value="San Juan Sacatepéquez">San Juan Sacatepéquez</option>
                <option value="San Miguel Petapa">San Miguel Petapa</option>
                <option value="San Pedro Ayampuc">San Pedro Ayampuc</option>
                <option value="San Pedro Sacatepéquez">San Pedro Sacatepéquez</option>
                <option value="San Raymundo">San Raymundo</option>
                <option value="Santa Catarina Pinula">Santa Catarina Pinula</option>
                <option value="Villa Canales">Villa Canales</option>
                <option value="	Villa Nueva">	Villa Nueva</option>
              </select>
              </div>

              <div class="form-group">
                <label for="telefono"> Teléfono </label>
                <input pattern="^[0-9]{8}$" type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel"
                [(ngModel)]="hotelesModelPost.telefono" required>
              </div>

              <div class="form-group">
                <label for="descripcion"> Descripción </label>
                <textarea  id="descripcion" name="descripcion" #descripcion="ngModel"
                [(ngModel)]="hotelesModelPost.descripcion" required
                class="form-control form-control-lg"  rows="2"></textarea>


              </div>
              
            </div>
            <div class="modal-footer" style="background-color: #040b14;">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button [(disabled)]="!agregarHotel.form.valid" type="sumbit" class="btn btn-success" data-dismiss="createLabel" (click)="postHotel(agregarHotel)"data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>

        </div>
      </div>
    </div>

        <!-- Modal Edit-->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="background-color: #E5E7E9">
              <div class="modal-header" style="background-color: #040b14;">
                <h5 class="modal-title" id="exampleModalLabel" style="color: white"> <i class="bi bi-pen-fill"></i>  Editar
                  datos del Hotel</h5>
                  <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="modal"  aria-label="Close"></button>
                </div>
    
              <form #editarHotel="ngForm" method="POST" 
                class="was-validated">
                <div class="modal-body">
    
                  <div class="form-group">
                    <label for="nombreEmpresa"> Nombre del Hotel: </label>
                    <input type="text" class="form-control" id="inputnombreSucursal" name="nombreHotel"
                      #nombreHotel="ngModel" [(ngModel)]="hotelModelIdEdit.nombreHotel" required>
                  </div>
    
                  <div class="form-group">
                    <label for="direccion"> Direccion hotel: </label>
    
                    <select id="direccion" style="width:100%; height: 2rem;" name="direccion" #direccion="ngModel"
                    [(ngModel)]="hotelModelIdEdit.direccion" required>
                    <option value="Amatitlán">Amatitlán</option>
                    <option value="Chinautla">Chinautla</option>
                    <option value="Chuarrancho">Chuarrancho</option>
                    <option value="Ciudad de Guatemala">Ciudad de Guatemala</option>
                    <option value="Fraijanes">Fraijanes</option>
                    <option value="	Mixco">	Mixco</option>
                    <option value="Palencia">Palencia</option>
                    <option value="San José del Golfo">San José del Golfo</option>
                    <option value="San José Pinula">San José Pinula</option>
                    <option value="San Juan Sacatepéquez">San Juan Sacatepéquez</option>
                    <option value="San Miguel Petapa">San Miguel Petapa</option>
                    <option value="San Pedro Ayampuc">San Pedro Ayampuc</option>
                    <option value="San Pedro Sacatepéquez">San Pedro Sacatepéquez</option>
                    <option value="San Raymundo">San Raymundo</option>
                    <option value="Santa Catarina Pinula">Santa Catarina Pinula</option>
                    <option value="Villa Canales">Villa Canales</option>
                    <option value="	Villa Nueva">	Villa Nueva</option>
                  </select>
                  </div>
    
                  <div class="form-group">
                    <label for="telefono"> Telefono: </label>
                    <input pattern="^[0-9]{8}$" type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel"
                    [(ngModel)]="hotelModelIdEdit.telefono" required>
                  </div>
    
                  <div class="form-group">
                    <label for="descripcion"> Descripción: </label>
                    <textarea  id="descripcion" name="descripcion" #descripcion="ngModel"
                    [(ngModel)]="hotelModelIdEdit.descripcion" required
                    class="form-control form-control-lg"  rows="2"></textarea>
    
    
                  </div>
                  
                </div>
                <div class="modal-footer" style="background-color: #040b14;">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button [(disabled)]="!editarHotel.form.valid" type="sumbit" class="btn btn-success" data-dismiss="createLabel" (click)="putHoteles(hotelModelIdEdit._id)"data-bs-dismiss="modal">Guardar</button>
                </div>
              </form>
    
            </div>
          </div>
        </div>

    <!-- Modal Edit
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background-color: #040b14;" class="modal-header"> 
        <h5 style="color: white;" class="modal-title" id="exampleModalLabel"> <i class="bi bi-pen-fill"></i> Editar Sucursal
        </h5>
        <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="modal"  aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: #EBF5FB;">
        <form #editValid="ngForm" class="was-validated">
          <div class="modal-body">

            <div class="form-group">
              <label for="nombreEmpresa"> Nombre de la Sucursal: </label>
              <input type="text" class="form-control" id="inputnombreSucursal" name="nombreSucursal"
                #nombreSucursal="ngModel" [(ngModel)]="sucursalModelIdEdit.nombreSucursal" required>
            </div>

            <div class="form-group">
              <label for="direccioSucursal"> Direccion sucursal: </label>

              <select id="direccioSucursal" style="width:100%; height: 2rem;" name="dirección" #direccionSucursal="ngModel"
              [(ngModel)]="sucursalModelIdEdit.direccionSucursal" required>
              <option value="Amatitlán">Amatitlán</option>
              <option value="Chinautla">Chinautla</option>
              <option value="Chuarrancho">Chuarrancho</option>
              <option value="Ciudad de Guatemala">Ciudad de Guatemala</option>
              <option value="Fraijanes">Fraijanes</option>
              <option value="	Mixco">	Mixco</option>
              <option value="Palencia">Palencia</option>
              <option value="San José del Golfo">San José del Golfo</option>
              <option value="San José Pinula">San José Pinula</option>
              <option value="San Juan Sacatepéquez">San Juan Sacatepéquez</option>
              <option value="San Miguel Petapa">San Miguel Petapa</option>
              <option value="San Pedro Ayampuc">San Pedro Ayampuc</option>
              <option value="San Pedro Sacatepéquez">San Pedro Sacatepéquez</option>
              <option value="San Raymundo">San Raymundo</option>
              <option value="Santa Catarina Pinula">Santa Catarina Pinula</option>
              <option value="Villa Canales">Villa Canales</option>
              <option value="	Villa Nueva">	Villa Nueva</option>
            </select>
            
            </div>

            <div class="form-group">
              <label for="telefonoSucursal"> Telefono: </label>
              <input pattern="^[0-9]{8}$" type="tel" class="form-control" id="telefonoSucursal" name="telefono" #telefonoSucursal="ngModel"
              [(ngModel)]="sucursalModelIdEdit.telefono" required>
            </div>
            
          </div>
        </form>
      </div>
      <div class="modal-footer" style="background-color: #040b14;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button [disabled]="!editValid.form.valid" type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="putSucursales(sucursalModelIdEdit._id)">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>-->


<app-footer></app-footer>

